.module-main.recommend {
    padding: 0 34px;
    display: flex;
    flex-wrap: wrap;
    .book-item {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 22px;
        &:nth-child(3n) {
            margin-right: 0;
        }
        .image {
            width: 100px;
            height: 145px;
            margin-bottom: 5px;
        }
        .name {
            max-width: 110px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            margin-bottom: 4px;
        }
        .author {
            font-size: 12px;
            line-height: 16px;
            color: #80A3FF;
        }
    }
}